@tailwind base;
@tailwind components;
@tailwind utilities;

.bgFood {
    background: url('../public/home_page_food.jpg') no-repeat;
    background-size: cover;

}

.cover {
    background: black;
    width: 100%;
    height: 100%;
    opacity: 0.3;

}

.container {
    z-index: 100;
}